[submodule "backend-mod"]
	path = backend
	url = https://github.com/pmhllll12/cloud.pmhllll12.api.git
[submodule "frontend-mod"]
	path = frontend
	url = https://github.com/pmhllll12/cloud.pmhllll12.www.git
[submodule "docs-mod"]
	path = docs
	url = https://github.com/pmhllll12/cloud.pmhllll12.docs.git
